@model HolidaySettingVM

    <div id="mytask-layout" class="theme-indigo">

        <partial name="MenuTab" model="@Model.CompanyInfromation" />
        <div class="main px-lg-4 px-md-4">

            <div class="body d-flex py-lg-5 py-md-5">
                <div class="container-xxl">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <div class="card border-0 mb-4 no-bg">
                                <div class="card-header py-3 px-0 d-sm-flex align-items-center  justify-content-between border-bottom">
                                    <h3 class=" fw-bold flex-fill mb-0 mt-sm-0">الاجازات</h3>
                                    <button type="button" class="btn btn-dark me-1 mt-1 w-sm-100" data-bs-toggle="modal" data-bs-target="#createemp"><i class="icofont-plus-circle me-2 fs-6"></i>اضافة اجازة</button>

                                </div>
                            </div>
                        </div>
                    </div><!-- Row End -->
                    <div class="row clearfix g-3">
                        <div class="col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <table id="myProjectTable" class="table text-center table-hover align-middle mb-0" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="fw-bold ms-1">رقم </th>
                                                <th class="fw-bold ms-1">اسم الاجازة</th>
                                                <th class="fw-bold ms-1">تاريخ البداية</th>
                                                <th class="fw-bold ms-1">تاريخ النهاية</th>
                                                <th class="fw-bold ms-1">عدد الايام</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.HolidaySettings)
                                            {
                                            <tr>
                                                <td>
                                                    <a class="fw-bold text-secondary">@item.ID</a>
                                                </td>
                                                <td>
                                                    <span class="fw-bold ms-1">@item.HolidayName</span>
                                                </td>
                                                <td>
                                                    <span class="fw-bold ms-1">@item.FirstDay.ToShortDateString()</span>
                                                </td>
                                                <td>
                                                    <span class="fw-bold ms-1">@item.LastDay.ToShortDateString()</span>
                                                </td>
                                                <td>
                                                    <span class="fw-bold ms-1">@item.DayDifference</span>
                                                </td>
                                                
                                            </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Create Employee-->
            <div class="modal fade" id="createemp" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title  fw-bold" id="createprojectlLabel"> اضافة اجازة </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="deadline-form">
                                <form asp-controller="Setting" asp-action="AddHolidaySettings" enctype="multipart/form-data" method="post">
                                    <div class="row g-3 mb-3">
                                        <div class="col">
                                            <label class="form-label">اسم المناسبة</label>
                                            <input asp-for="HolidaySetting.HolidayName" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row g-3 mb-3">
                                        <div class="col">
                                            <label class="form-label">من</label>
                                            <input asp-for="HolidaySetting.FirstDay" type="date" class="form-control">
                                        </div>
                                        <div class="col">
                                            <label class="form-label">إلى</label>
                                            <input asp-for="HolidaySetting.LastDay" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">خروج</button>
                                        <button type="submit" class="btn btn-primary">اضافة </button>
                                    </div>

                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            

        </div>
    </div>